@import 'tailwindcss/components';

header {
  &::before {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    z-index: -1;
    width: 200%;
    height: 100%;
    border-radius: 50%;
    background-color: theme('colors.green-vogue.900');
    transform: translateX(-50%) scale(1.5);
    transform-origin: bottom;

    @include md {
      width: 150%;
    }

    @include lg {
      width: 125%;
    }
  }
}

.button-prev,
.button-next {
  position: absolute;
  top: calc(50% - 1rem);
  z-index: 10;
  transform: translateY(-50%);
}
