---
import Layout from '../layouts/Layout.astro'
import CTA from '@components/CTA.astro'
---

<Layout title="Lead Generation Funnel">
  <header class="relative min-h-screen overflow-hidden text-white">
    <img
      class="pointer-events-none absolute top-0 -right-1/3 max-h-screen select-none sm:-top-24 md:-top-48 lg:-top-32 lg:-right-24"
      src="/images/hyperzon-logomark.png"
      alt=""
    />

    <nav class="container relative flex items-center py-4">
      <a href="/">
        <img class="w-48 md:w-56 lg:w-64" src="/images/hyperzon-logotype.png" alt="Hyperzon" />
      </a>
    </nav>

    <div class="container relative">
      <div
        class="grid grid-cols-1 gap-4 sm:mx-auto sm:max-w-sm lg:max-w-none lg:grid-cols-2 lg:items-center"
      >
        <div>
          <picture>
            <source media="(min-width: 640px)" srcset="/images/monochrome-ebook@2x.png" />
            <source media="(min-width: 768px)" srcset="/images/monochrome-ebook@3x.png" />
            <source media="(min-width: 1024px)" srcset="/images/monochrome-ebook@4x.png" />
            <img class="w-full" src="/images/monochrome-ebook@1x.png" alt="Monochrome eBook" />
          </picture>
        </div>

        <div class="text-center xl:mx-auto xl:max-w-lg">
          <h1 class="text-4xl font-black uppercase lg:text-5xl xl:text-6xl">Headline here</h1>
          <div class="mt-2 text-xl font-black uppercase lg:text-2xl xl:mt-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </div>
          <div class="mt-4 lg:mt-6">
            <button
              class="block w-full rounded-full bg-green-yellow-300 px-4 py-3 font-medium uppercase tracking-wide text-black"
              type="button"
            >
              Download now
            </button>
          </div>
          <p class="mt-4 text-sm uppercase tracking-wide">
            Download within <span class="font-bold">00:29:45</span>
          </p>
        </div>
      </div>
    </div>
  </header>

  <div class="mx-auto max-w-screen-xl px-4 py-8 md:py-16">
    <div
      class="grid grid-cols-1 gap-6 sm:mx-auto sm:max-w-sm lg:max-w-none lg:grid-cols-3 lg:gap-8"
    >
      <div class="flex items-center gap-4 rounded-xl bg-white p-4 shadow-md">
        <div class="h-16 w-16 shrink-0 overflow-hidden rounded-full bg-gray-500">
          <picture>
            <source media="(min-width: 640px)" srcset="/images/avatars/avatar-go-pure@2x.jpg" />
            <source media="(min-width: 768px)" srcset="/images/avatars/avatar-go-pure@3x.jpg" />
            <source media="(min-width: 1024px)" srcset="/images/avatars/avatar-go-pure@4x.jpg" />
            <img class="w-full" src="/images/avatars/avatar-go-pure@1x.jpg" alt="Go Pure" />
          </picture>
        </div>

        <div class="grow">
          <p>
            "Lorem ipsum dolor sit amet consectetur." - <span class="font-bold"> Go Pure</span>
          </p>
        </div>
      </div>

      <div class="flex items-center gap-4 rounded-xl bg-white p-4 shadow-md">
        <div class="h-16 w-16 shrink-0 overflow-hidden rounded-full bg-gray-500">
          <picture>
            <source
              media="(min-width: 640px)"
              srcset="/images/avatars/avatar-vets-preferred@2x.jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="/images/avatars/avatar-vets-preferred@3x.jpg"
            />
            <source
              media="(min-width: 1024px)"
              srcset="/images/avatars/avatar-vets-preferred@4x.jpg"
            />
            <img
              class="w-full"
              src="/images/avatars/avatar-vets-preferred@1x.jpg"
              alt="Vets Preferred"
            />
          </picture>
        </div>

        <div class="grow">
          <p>
            "Lorem ipsum dolor sit amet consectetur." -
            <span class="font-bold">Vets Preferred</span>
          </p>
        </div>
      </div>

      <div class="flex items-center gap-4 rounded-xl bg-white p-4 shadow-md">
        <div class="h-16 w-16 shrink-0 overflow-hidden rounded-full bg-gray-500">
          <picture>
            <source media="(min-width: 640px)" srcset="/images/avatars/avatar-vee-fresh@2x.jpg" />
            <source media="(min-width: 768px)" srcset="/images/avatars/avatar-vee-fresh@3x.jpg" />
            <source media="(min-width: 1024px)" srcset="/images/avatars/avatar-vee-fresh@4x.jpg" />
            <img class="w-full" src="/images/avatars/avatar-vee-fresh@1x.jpg" alt="Vee Fresh" />
          </picture>
        </div>

        <div class="grow">
          <p>
            "Lorem ipsum dolor sit amet consectetur." - <span class="font-bold">Vee Fresh</span>
          </p>
        </div>
      </div>
    </div>

    <div class="mt-8 space-y-4">
      <p class="text-gray-600">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.
      </p>

      <p class="text-gray-600">
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>

      <h2 class="font-bold uppercase tracking-wide">Lorem ipsum dolor sit</h2>

      <div class="grid grid-cols-1 gap-4 text-gray-600 md:grid-cols-2">
        <ul class="list-disc space-y-4 pl-4">
          <li>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.
          </li>

          <li>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.
          </li>

          <li>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.
          </li>

          <li>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.
          </li>
        </ul>

        <ul class="list-disc space-y-4 pl-4">
          <li>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.
          </li>

          <li>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.
          </li>

          <li>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <CTA />

  <div class="mx-auto max-w-screen-xl px-4 py-8 md:py-16 lg:max-w-screen-md xl:max-w-screen-lg">
    <div class="grid grid-cols-1 gap-8 sm:mx-auto sm:max-w-sm md:max-w-none md:grid-cols-2">
      <div>
        <div
          class="aspect-h-1 aspect-w-1 overflow-hidden rounded-xl shadow-md md:aspect-h-16 md:aspect-w-9 xl:aspect-h-4 xl:aspect-w-3"
        >
          <img
            class="object-cover object-center"
            src="/images/profiles/profile-ico@1x.jpg"
            alt="Hristo Arakliev"
          />
        </div>
      </div>

      <div class="space-y-6 text-gray-600 xl:text-xl">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>

        <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum.
        </p>

        <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
          deserunt mollit anim id est laborum.
        </p>

        <p class="font-bold uppercase text-black">Has been seen on:</p>
        <div class="grid grid-cols-3 items-center gap-8 xl:flex">
          <img class="xl:h-16" src="/images/logos/logo-geek-out@4x.png" alt="Geek Out" />
          <img class="xl:h-16" src="/images/logos/logo-aw@4x.png" alt="AW" />
          <img class="xl:h-16" src="/images/logos/logo-white-label@4x.png" alt="White Label" />
        </div>
      </div>
    </div>
  </div>

  <CTA />
</Layout>
