<div class="bg-green-vogue-900 px-4 py-8 md:py-12">
  <div class="text-center sm:mx-auto sm:max-w-sm">
    <div>
      <button
        class="block w-full rounded-full bg-green-yellow-300 px-4 py-3 font-medium uppercase tracking-wide text-black"
        type="button"
      >
        Download now
      </button>
    </div>

    <p class="mt-4 text-sm uppercase tracking-wide text-white">
      Download within <span class="font-bold">00:29:45</span>
    </p>
  </div>
</div>
