<div class="bg-green-vogue-900 px-4 py-8 md:py-12">
  <div class="text-center sm:mx-auto sm:max-w-sm">
    <div>
      <a
        class="block w-full rounded-full border border-transparent bg-green-yellow-300 px-4 py-3 font-medium uppercase tracking-wide text-black transition hover:border-green-yellow-300 hover:bg-transparent hover:text-green-yellow-300 focus:outline-none focus:ring-2 focus:ring-green-yellow-300/50 focus:ring-offset-4 focus:ring-offset-green-vogue-900"
        data-featherlight="#pop-up"
        href="#"
      >
        Download now
      </a>
    </div>

    <p class="mt-4 text-sm uppercase tracking-wide text-white">
      Download within <span class="font-bold">00:29:45</span>
    </p>
  </div>
</div>
