---
import '@styles/main.scss'

const { title } = Astro.props as Props

export interface Props {
  title: string
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/hyperzon-logomark.png" />
    <title>{title}</title>
  </head>

  <body class="min-w-xs bg-pattern bg-contain bg-repeat antialiased">
    <slot />
  </body>
</html>
